body {
    background-color: #2B2B2B;
    scale: 100%;
    margin-top: 0;
    padding-top: 0;
}

.contenedor2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
    width: 600px;
    height: 600px;
    background-color: transparent;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 0;
    width: 600px;
    height: 100%;
    background-color: transparent;
}
.tapa{
    margin-left: 160px;
    width: 760px;
    height: 770px;
    background-color: transparent;
    position: absolute;
    z-index: 6;
    opacity: 40%;


}




#pelo1 {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: #63462C;
    clip-path: polygon(50% 3%, 80% 10%, 95% 30%, 41% 45%, 18% 41%, 14% 55%, 10% 48%, 6% 49%, 5% 33%, 20% 10%);

}

#pelo2 {

    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: #63462C;

    clip-path: polygon(91% 53%, 84% 41%, 76% 51%, 66% 43%, 50% 42%, 40% 44%, 61% 16%, 95% 30%, 96% 45%);
}

.cara {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #F2B175;
}

.cejas{
    background-color: #463322;
    z-index: 3;
    position: absolute;
    margin-top: 200px;
    margin-left: -200px;
    width: 100px;
    height: 20px;
    transition: 0.5s;
    border-radius: 30%;


}

#ceja2{

margin-left: 200px;
}

#gafas_enteras{
    margin-left: 35px;
    position: absolute;
    transition: 0.5s;

}
.gafas {
    z-index: 3;
    position: absolute;
    margin-top: 260px;
    width: 150px;
    height: 100px;
    border-radius: 20%;
    border: black 9px solid;
    background-color: transparent;
}

#gafa1 {
    margin-left: -200px;
}

#palo_izquierda {
    z-index: 3;
    position: absolute;
    margin-top: 269px;
    width: 49px;
    height: 10px;
    border-radius: 0%;
    margin-left: -240px;
    transform: rotate(10deg);
    border: 0px;
    background-color: black;
}

#palo_derecha {
    z-index: 3;
    position: absolute;
    margin-top: 269px;
    width: 49px;
    height: 10px;
    border-radius: 0%;
    margin-left: 160px;
    transform: rotate(-10deg);
    border: 0px;
    background-color: black;
}

#palo_medio_gafas {
    z-index: 3;
    position: absolute;
    margin-top: 270px;
    width: 49px;
    height: 10px;
    border-radius: 0%;
    margin-left: -40px;
    border: 0px;
    background-color: black;
}


#ojo1 {
    margin-left: 0px;
}

.ojos {
    z-index: 2;
    margin-top: 219px;
    width: 100px;
    height: 100px;
    background-size: contain;
    border-radius: 50%;
    margin-left: 100px;
    background-color: #E5E4E4;
}



#ojo1 {
    margin-left: 0px;
}


.pupila {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #254921;
    transition: 0.50s;

    
}

.oreja {
    position: absolute;
    margin-top: 225px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-left: 450px;
    background-color: #F2B175;
}

#oreja1 {
    margin-left: -450px;
}

.boca {
    background-color: #B8895B;
    z-index: 1;
    position: absolute;
    margin-top: 400px;
    width: 50px;
    height: 9px;
    transition: 1s;
}





.button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 150px;
    background: radial-gradient(#cf0303 50%, #880202);
    border: gray 10px solid;
    border-radius: 50%;
    margin-top: 560px;
    align-items: center;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 120%;
    line-height: 130%;
    margin-inline: 10px;
    user-select: none;
    z-index: 20;
    transition: 0.5s;

}

.button:active {
    transform: scale(95%);
}

.button:active .contenedor2 {}

.contenedor2:active .pupila {
    background: radial-gradient(#e66465, red);
    transform: translateY(40%) translateX(40%) scale(80%);    
}
.contenedor2:active #laser1 {
    background: radial-gradient(#e66465, red);
    height: 500px;
    opacity: 90%;
}

.contenedor2:active #laser2 {
    background: radial-gradient(#e66465, red);
    height: 500px;
    opacity: 90%;
}

.contenedor2:active #gafas_enteras {
    background: radial-gradient(#e66465, red);
margin-top: -70px;
}

.contenedor2:active .boca {
    background-color: black;
    height: 40px;
transform: translateY(40%)
}


.contenedor2:active #ceja1 {
    transform: translateY(330%) rotate(15deg);
}

.contenedor2:active #ceja2 {
    transform: translateY(330%) rotate(-15deg);
}







#laser_box1 {
    transform: rotate(-40deg);
    width: 60px;
    height: 500px;
    background-color: transparent;
    margin-top: -50px;
    margin-left: 212px;
    opacity:100%;
    position: absolute;
    overflow: hidden;
}

#laser1 {
    margin-top: -60px;
    border-radius: 0% 0% 50% 50%;
    width: 20px;
    height:10px;
    margin-left: 20px;
    background-color: red;
    transition: 0.5s;
    opacity: 0%;
    z-index: 1;
    transition: height 3s, opacity 0.1s;
}

#laser_box2 {
    transform: rotate(-40deg);
    width: 60px;
    height: 500px;
    background-color: transparent;
    margin-top: -50px;
    margin-left: 212px;
    opacity: 100%;
    position:absolute;
    overflow: hidden;
}
#laser2 {
    margin-top: -60px;
    border-radius: 0% 0% 50% 50%;
    width: 20px;
    height:10px;
    margin-left: 20px;
    background-color: red;
    transition: 0.5s;
    opacity: 0%;
    z-index: 1;
    transition: height 3s, opacity 0.1s;
}


